jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
keras==3.6.0
matplotlib==3.9.2
matplotlib-inline==0.1.7
numpy==2.0.2
pandas==2.2.3
scikit-learn==1.5.2
scipy==1.14.1
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0

